ClienteAlquileres/src/conf/xml-resources/web-service-references/ServicioListar/wsdl/localhost_8080/ServicioAlquileres/ServicioListar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioListar">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ServicioAlquileres/ServicioListar?xsd=1"/>
</xsd:schema>
</types>
<message name="ListarCliente">
<part name="parameters" element="tns:ListarCliente"/>
</message>
<message name="ListarClienteResponse">
<part name="parameters" element="tns:ListarClienteResponse"/>
</message>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="ListarAlquiNoEnt">
<part name="parameters" element="tns:ListarAlquiNoEnt"/>
</message>
<message name="ListarAlquiNoEntResponse">
<part name="parameters" element="tns:ListarAlquiNoEntResponse"/>
</message>
<message name="ListarAlqNoEntxPlaca">
<part name="parameters" element="tns:ListarAlqNoEntxPlaca"/>
</message>
<message name="ListarAlqNoEntxPlacaResponse">
<part name="parameters" element="tns:ListarAlqNoEntxPlacaResponse"/>
</message>
<portType name="ServicioListar">
<operation name="ListarCliente">
<input wsam:Action="http://services/ServicioListar/ListarClienteRequest" message="tns:ListarCliente"/>
<output wsam:Action="http://services/ServicioListar/ListarClienteResponse" message="tns:ListarClienteResponse"/>
</operation>
<operation name="operation">
<input wsam:Action="http://services/ServicioListar/operationRequest" message="tns:operation"/>
<output wsam:Action="http://services/ServicioListar/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="ListarAlquiNoEnt">
<input wsam:Action="http://services/ServicioListar/ListarAlquiNoEntRequest" message="tns:ListarAlquiNoEnt"/>
<output wsam:Action="http://services/ServicioListar/ListarAlquiNoEntResponse" message="tns:ListarAlquiNoEntResponse"/>
</operation>
<operation name="ListarAlqNoEntxPlaca">
<input wsam:Action="http://services/ServicioListar/ListarAlqNoEntxPlacaRequest" message="tns:ListarAlqNoEntxPlaca"/>
<output wsam:Action="http://services/ServicioListar/ListarAlqNoEntxPlacaResponse" message="tns:ListarAlqNoEntxPlacaResponse"/>
</operation>
</portType>
<binding name="ServicioListarPortBinding" type="tns:ServicioListar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarAlquiNoEnt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarAlqNoEntxPlaca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioListar">
<port name="ServicioListarPort" binding="tns:ServicioListarPortBinding">
<soap:address location="http://localhost:8080/ServicioAlquileres/ServicioListar"/>
</port>
</service>
</definitions>