ClienteAlquileres/web/WEB-INF/wsdl/localhost_8080/ServicioAlquileres/ServicioAlquiler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServicioAlquiler">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ServicioAlquileres/ServicioAlquiler?xsd=1"/>
</xsd:schema>
</types>
<message name="RegistrarAlquiler">
<part name="parameters" element="tns:RegistrarAlquiler"/>
</message>
<message name="RegistrarAlquilerResponse">
<part name="parameters" element="tns:RegistrarAlquilerResponse"/>
</message>
<message name="BuscarCliente">
<part name="parameters" element="tns:BuscarCliente"/>
</message>
<message name="BuscarClienteResponse">
<part name="parameters" element="tns:BuscarClienteResponse"/>
</message>
<message name="AlquilarReserva">
<part name="parameters" element="tns:AlquilarReserva"/>
</message>
<message name="AlquilarReservaResponse">
<part name="parameters" element="tns:AlquilarReservaResponse"/>
</message>
<portType name="ServicioAlquiler">
<operation name="RegistrarAlquiler">
<input wsam:Action="http://services/ServicioAlquiler/RegistrarAlquilerRequest" message="tns:RegistrarAlquiler"/>
<output wsam:Action="http://services/ServicioAlquiler/RegistrarAlquilerResponse" message="tns:RegistrarAlquilerResponse"/>
</operation>
<operation name="BuscarCliente">
<input wsam:Action="http://services/ServicioAlquiler/BuscarClienteRequest" message="tns:BuscarCliente"/>
<output wsam:Action="http://services/ServicioAlquiler/BuscarClienteResponse" message="tns:BuscarClienteResponse"/>
</operation>
<operation name="AlquilarReserva">
<input wsam:Action="http://services/ServicioAlquiler/AlquilarReservaRequest" message="tns:AlquilarReserva"/>
<output wsam:Action="http://services/ServicioAlquiler/AlquilarReservaResponse" message="tns:AlquilarReservaResponse"/>
</operation>
</portType>
<binding name="ServicioAlquilerPortBinding" type="tns:ServicioAlquiler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegistrarAlquiler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AlquilarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioAlquiler">
<port name="ServicioAlquilerPort" binding="tns:ServicioAlquilerPortBinding">
<soap:address location="http://localhost:8080/ServicioAlquileres/ServicioAlquiler"/>
</port>
</service>
</definitions>