ClienteAlquileres/web/WEB-INF/wsdl/localhost_8080/ServicioAlquileres/ServicioAlquiler.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="AlquilarReserva" type="tns:AlquilarReserva"/>

<xs:element name="AlquilarReservaResponse" type="tns:AlquilarReservaResponse"/>

<xs:element name="BuscarCliente" type="tns:BuscarCliente"/>

<xs:element name="BuscarClienteResponse" type="tns:BuscarClienteResponse"/>

<xs:element name="RegistrarAlquiler" type="tns:RegistrarAlquiler"/>

<xs:element name="RegistrarAlquilerResponse" type="tns:RegistrarAlquilerResponse"/>

<xs:complexType name="AlquilarReserva">
<xs:sequence>
<xs:element name="codres" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlquilarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarCliente">
<xs:sequence>
<xs:element name="nomusr" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="brevet" type="xs:string" minOccurs="0"/>
<xs:element name="carnetEx" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="nomusr" type="xs:string" minOccurs="0"/>
<xs:element name="passwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarAlquiler">
<xs:sequence>
<xs:element name="codcli" type="xs:int"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarAlquilerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>